*{
  padding: 0;
  margin: 0;
}

body{
  background-color: white;
}
h2{
  color: black;
  font-family: sans-serif;
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
}

td{
  width: 15px;
  height: 15px;
}

.blank{
  background-color: blank;
}

.snake{
  background-color: #85aae5;
}

.wall{
  background-color: #ada9a9;
}

.fruit{
  background-color: #ed1228;
}
h1,p{
  font: normal 20px sans-serif;
  color: black;
  text-align: center;
}
.rules{
  position: absolute;
    float: left;
    padding-left: 60px;
}
.board{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.score{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.button{
    margin: auto;
    display: block;
    font-size: 20px;
    padding: 2px 2px 2px 2px;
    background-color: gold;
    border-radius: 5px;
    border-color: gold;
}